/* background */
    /* index */
.homeBackground {
    background-color: #fee56d;
    opacity: 0.9;
    width: 100%;
} 
    /* aboutMe */
.AboutMeBackground {
    position: relative;
    height: 54vw;
    background-color: #0001fc;
    opacity: 0.9;
    /* filter: brightness(80%); */
    width: 100%;

} 
.textBackground {
    background-color: #bec2c7;
    text-align: center;
}   
    /* photo */
.photoBackground {
    background: url("image/greenPattern.jpeg") repeat,
                #88cc7e;
    width: 100%;
}
    /* fantasy */
.fantasyBackground {
    background: url("image/bluePattern.jpg") repeat,
                      #91dbfd;
    width: 100%;
}
.textBackground2 {
    opacity: 0.7;
}


/* font */
@font-face {
    font-family: "Press Start 2P";
    src: url("fonts/PressStart2P-Regular.ttf") format("truetype");
}
.homeFont {
    font-family: "Press Start 2P", serif;
    color: white;
}


/* image */
    /* index */
.insert {
    position: relative;
}
    /* aboutMe */
.AboutMeImg {
    position: absolute;
    right: 0;
    bottom: 0;
}
.AboutMeImg img {
    width: 10vw;
    max-width: 200px;
    height: auto;
}
.displayImg img{
    min-width: 200px;
    width: 25vw;
    max-width: 2000px;

    /* height: auto;
    max-height: 1000px; */
}
.photo1 {
    position: absolute;
    left: 2vw;
    bottom: 3.5vw;
}
.photo2 {
    position: absolute;
    left: 4vw;
    bottom: 22vw;
}
.photo3 {
    position: absolute;
    right: 1.5vw;
    top: 5vw;
}
    /* photo */
.longphoto {
    width: 50vw;
    max-width: 800px;
    height: auto;
}

.flatphoto{
    height: 50vw;
    max-height: 800px;
    width: auto;
}
    /* fantasy */



/* text style */
    /* index */
.direction {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, +15%);
}

h1 {
    font-size: clamp(2rem, 3vw, 8rem);
    /* gap: clamp(4px, 1vw, 12px); */
}
#introduction {
    font-size: clamp(0.8rem, 0.9vw, 1.4rem);
}
@media screen and (min-width: 1200px)
{
    #introduction {
    font-size: clamp(1rem, 1.3vw, 4rem);
    }
}   
h3 {
    font-size: clamp(1rem, 1.38vw, 4rem);
    /* gap: clamp(4px, 1vw, 12px); */
}
.move {
    font-size: 2em;

    opacity: 0;
    animation: appear 6s infinite;
}
.move:nth-child(1) {
    animation-delay: 0s;
}
.move:nth-child(2) {
    animation-delay: 1s;
}
.move:nth-child(3) {
    animation-delay: 2s;
}
@keyframes appear {
    0% {
        opacity: 0;
    }

    15% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    85% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}
    /* abooutMe */
.highlight {
  font-size: 2em;
}
.text1 {
    position: absolute;
    right: 2vw;
    bottom: 11vw;
}

.text2 {
    position: absolute;
    left: 18vw;
    bottom: 0.6vw;
}

.text3 {
    position: absolute;
    left: 5vw;
    top: 9vw;
}

.text4 {
    position: absolute;
    right: 12vw;
    bottom: 8vw;
}

.text5 {
    position: absolute;
    left: 58vw;
    top: 5vw;
}
/* photo */
.textCenter {
    text-align: center;
}


/* box */
    /*aboutMe*/
.textBox {
    width: 38vw;
    max-width: 900px;
    min-width: 300px;

    margin: 0 auto;

    background-color: #bec2c7;
    color: white;
    opacity: 0.9;

    border-radius: 30px;

    padding: 10px;

    position: absolute;
    right: 30.5vw;
    top: 9vw; 
}
.imgBox {
    /* width: 80%; */
    max-width: 100px;
    min-height: 100px;

    margin: 0 auto;

    background-color: #bec2c7;

    border-radius: 30px;

    padding: 10px;
}
    /*photo*/
.imgBox1 {
    margin: 0 auto;

    background-color: white;

    border-radius: 30px;

    padding: 30px;
}
#imageModal {
    position: fixed;
    inset: 0;
    display: none;

    justify-content: center;
    align-items: center;
}
#largeImage {
    max-width: 90vw;
    max-height: 90vh;
    width: auto;
    height: auto;
}

/*others*/
nav ul{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
nav a {
    color: #fee77b;
    font-size: clamp(0.5rem, 1.5vw, 2rem);
    text-decoration: none;   
}
a:hover {
    color: red;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}




